blockquote.steps {
	margin-left: 40px;
	padding-left: 0;
	position: relative;
}

blockquote.steps p {
	position: relative;
	left: -18px
}

[href="step"] {
	display: none;
}
[href="step"]:first-child {
	display: block;
	visibility: hidden;
}
[href="step"]:first-child:before {
	content: "";
	display: block;
	visibility: visible;
	background: url(//rawgit.com/aurelien-baudet/ogham-katacoda-scenarios/master/resources/images/ajax-loader.gif) center center no-repeat;
	height: 200px;
}

.steps [href="step"] {
	visibility: visible;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: not-allowed;
}
.steps [href="step"]:before {
	display: none;
}


.steps [href="step"] em:first-child {
	display: inline-block;
	font-weight: bold;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: #2592b6;
	color: white;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
}
.steps [href="step"] em:last-child {
	margin-left: 10px;
	font-style: normal;
	vertical-align: middle;
}
